
/* ----------------------APP---------------------- */
.routerLink{
    text-decoration: none;
}

#logoweb{
    margin-left: 20px;
}

#navdrawer{
    margin-top: 55px;
}

#bkg {
    margin:auto;
    padding: 20px;
    width: 1300px;
    height: 100%;
}

/* --------------------DEVICES-------------------- */
#footer {
    z-index: 4;
}
